<h1>Companies</h1>

<p *ngIf="!list"><em>Loading...</em></p>

<table class='table' *ngIf="list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list">
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>
                <span *ngIf="item.isActive">Active</span> 
                <span *ngIf="!item.isActive">Inactive</span> 
            </td>
            <td>
                <a routeLink="/company">Edit</a>
                <button (click)="delete(item.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>